extends layout

block content
  .row.justify-content-center
    .col-12.col-lg-8
      .card
        .card-header.bg-primary.text-white
          .d-flex.justify-content-between.align-items-center
            h2.mb-0 #{contact.first_name} #{contact.last_name}
            if user
              .btn-group
                a.btn.btn-light.btn-sm(href=`/${contact.id}/edit`) Edit
                a.btn.btn-outline-light.btn-sm(href=`/${contact.id}/delete`) Delete
        
        .card-body
          .row
            if contact.email_address || contact.phone_number
              .col-12.col-md-6.mb-3
                h5 Contact Information
                if contact.email_address
                  p
                    strong Email: 
                    a(href=`mailto:${contact.email_address}`) #{contact.email_address}
                
                if contact.phone_number
                  p
                    strong Phone: 
                    a(href=`tel:${contact.phone_number}`) #{contact.phone_number}
            
            if contact.street || contact.city || contact.state || contact.zip || contact.country
              .col-12.col-md-6.mb-3
                h5 Address
                if contact.street
                  p #{contact.street}
                if contact.city || contact.state || contact.zip
                  p
                    if contact.city
                      | #{contact.city}
                    if contact.state
                      | #{contact.city ? ', ' : ''}#{contact.state}
                    if contact.zip
                      |  #{contact.zip}
                if contact.country
                  p #{contact.country}
            
            .col-12
              h5 Contact Preferences
              p
                strong Email: 
                | #{contact.contact_by_email ? 'Yes' : 'No'}
              p
                strong Phone: 
                | #{contact.contact_by_phone ? 'Yes' : 'No'}
        
        .card-footer
          .d-flex.justify-content-between
            a.btn.btn-outline-primary(href='/') Back to Directory
            if user
              .btn-group
                a.btn.btn-primary(href=`/${contact.id}/edit`) Edit Contact
                a.btn.btn-outline-danger(href=`/${contact.id}/delete`) Delete
