extends layout

block content
  h1 Delete Contact
  
  p Are you sure you want to delete the following contact?
  
  .contact-summary
    h3 #{contact.first_name} #{contact.last_name}
    if contact.email_address
      p Email: #{contact.email_address}
    if contact.phone_number
      p Phone: #{contact.phone_number}
  
  form(action=`/${contact.id}/delete`, method='post')
    button(type='submit', style='background-color: red; color: white;') Yes, Delete
    | 
    a(href=`/${contact.id}`) Cancel
