extends layout

block content
  .row.justify-content-center
    .col-12.col-md-8.col-lg-6
      .card.border-danger
        .card-header.bg-danger.text-white
          h2.mb-0 Confirm Deletion
        
        .card-body.text-center
          .mb-4
            i.bi.bi-exclamation-triangle.text-danger(style='font-size: 3rem;')
          
          h4.mb-3 Are you sure you want to delete this contact?
          
          .alert.alert-warning.text-start
            h5 #{contact.first_name} #{contact.last_name}
            
            if contact.email_address
              p.mb-1
                strong Email: 
                | #{contact.email_address}
            
            if contact.phone_number
              p.mb-1
                strong Phone: 
                | #{contact.phone_number}
            
            if contact.city || contact.state
              p.mb-0
                strong Location: 
                | #{contact.city}#{contact.state ? ', ' + contact.state : ''}
          
          .alert.alert-danger
            strong Warning: 
            | This action cannot be undone!
        
        .card-footer
          .d-flex.gap-3.justify-content-center
            a.btn.btn-outline-secondary(href=`/${contact.id}`) Cancel
            
            form.d-inline(action=`/${contact.id}/delete`, method='post')
              button.btn.btn-danger(type='submit') Yes, Delete Contactextends layout

block content
  h1 Delete Contact
  
  p Are you sure you want to delete the following contact?
  
  .contact-summary
    h3 #{contact.first_name} #{contact.last_name}
    if contact.email_address
      p Email: #{contact.email_address}
    if contact.phone_number
      p Phone: #{contact.phone_number}
  
  form(action=`/${contact.id}/delete`, method='post')
    button(type='submit', style='background-color: red; color: white;') Yes, Delete
    | 
    a(href=`/${contact.id}`) Cancel
