extends layout

block content
  .d-flex.justify-content-between.align-items-center.mb-4
    h1 Contact Directory
    if user
      a.btn.btn-primary(href='/create')
        i.bi.bi-person-plus.me-2
        | Add Contact
  
  if contacts && contacts.length > 0
    .row
      each contact in contacts
        .col-12.col-md-6.col-lg-4.mb-3
          .card.h-100(style='cursor: pointer;', onclick=`window.location.href='/${contact.id}'`)
            .card-body
              h5.card-title #{contact.first_name} #{contact.last_name}
              
              if contact.email_address
                p.card-text.mb-1
                  i.bi.bi-envelope.me-2
                  small #{contact.email_address}
              
              if contact.phone_number
                p.card-text.mb-1
                  i.bi.bi-telephone.me-2
                  small #{contact.phone_number}
              
              if contact.city
                p.card-text.mb-2
                  i.bi.bi-geo-alt.me-2
                  small #{contact.city}#{contact.state ? ', ' + contact.state : ''}
              
              .mt-auto
                if contact.contact_by_email
                  span.badge.bg-success.me-1 Email OK
                if contact.contact_by_phone
                  span.badge.bg-info Phone OK
  else
    .text-center.py-5
      h3.text-muted No contacts found
      if user
        a.btn.btn-primary(href='/create') Add Your First Contact
